sensors/Relayr_IFM_Temp.json
[{"id":"bea58977.04ca28","type":"modbustcp-read","z":"998d3923.51dda8","name":"TA2105 (Temperature Sensor)","dataType":"HoldingRegister","adr":"3002","quantity":"1","rate":"5","rateUnit":"s","server":"55467bc9.d9ac44","x":200,"y":120,"wires":[["b62c00d0.be5cc"]]},{"id":"aaa8a91.40bf458","type":"function","z":"998d3923.51dda8","name":"relayr Payload Formatting","func":"msg.payload = {\n    meaning: 'temperature',\n    value: msg.payload/10\n}\nreturn msg;","outputs":1,"noerr":0,"x":537.4722442626953,"y":255.02783203125,"wires":[["8d8b446.b8b3eb8","97546156.e4714"]]},{"id":"b62c00d0.be5cc","type":"function","z":"998d3923.51dda8","name":"Read Temperature","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":368.9444580078125,"y":191.25003051757812,"wires":[["aaa8a91.40bf458","3caeee19.08dcc2"]]},{"id":"8d8b446.b8b3eb8","type":"mqtt out","z":"998d3923.51dda8","name":"","topic":"/v1/0cf38f36-e716-4459-9a0c-7222e7f882a9/data","qos":"0","retain":"true","broker":"1c3db799.c791b8","x":819.0000152587891,"y":321.2500305175781,"wires":[]},{"id":"3caeee19.08dcc2","type":"debug","z":"998d3923.51dda8","name":"","active":true,"console":"true","complete":"payload","x":612.2221832275391,"y":154.92779541015625,"wires":[]},{"id":"97546156.e4714","type":"debug","z":"998d3923.51dda8","name":"","active":false,"console":"true","complete":"payload","x":891,"y":159,"wires":[]},{"id":"55467bc9.d9ac44","type":"modbustcp-server","z":"998d3923.51dda8","host":"192.168.0.44","port":"502","unit_id":"1","reconnecttimeout":""},{"id":"1c3db799.c791b8","type":"mqtt-broker","z":"998d3923.51dda8","broker":"mqtt.relayr.io","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]