sensors/temperature.json
[{"id":"d12f68d.dd76a98","type":"modbustcp-read","z":"ee314869.f86738","name":"TA2105 (Temperature Sensor)","dataType":"HoldingRegister","adr":"3002","quantity":"1","rate":"1","server":"39858602.52a1a2","x":211.5,"y":349.3221740722656,"wires":[["d6959ec0.107408"]]},{"id":"9a8108ae.4dee","type":"function","z":"ee314869.f86738","name":"relayr Payload Formatting","func":"msg.payload = {\n    meaning: 'temperature',\n    value: msg.payload/10\n}\nreturn msg;","outputs":1,"noerr":0,"x":548.9722442626953,"y":484.3500061035156,"wires":[["43b7a37f.3026c4"]]},{"id":"d6959ec0.107408","type":"function","z":"ee314869.f86738","name":"Read Temperature","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":380.4444580078125,"y":420.57220458984375,"wires":[["9a8108ae.4dee","8d1fb3e1.5e5108"]]},{"id":"43b7a37f.3026c4","type":"mqtt out","z":"ee314869.f86738","name":"","topic":"/v1/{your Device Id}/data","qos":"","retain":"","broker":"3b957dc9.63628a","x":750.5000152587891,"y":550.5722045898438,"wires":[]},{"id":"8d1fb3e1.5e5108","type":"debug","z":"ee314869.f86738","name":"","active":false,"console":"false","complete":"payload","x":613.7221832275391,"y":384.2499694824219,"wires":[]},{"id":"8bde0f02.d34bd","type":"modbustcp-server","z":"ee314869.f86738","host":"192.168.1.250","port":"502","unit_id":"1"},{"id":"3b957dc9.63628a","type":"mqtt-broker","z":"ee314869.f86738","broker":"mqtt.relayr.io","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"39858602.52a1a2","type":"modbustcp-server","z":"ee314869.f86738","host":"192.168.1.250","port":"502","unit_id":"1"},{"id":"a1959601.692438","type":"modbustcp-server","z":"ee314869.f86738","host":"192.168.1.250","port":"502","unit_id":"1"}]
